body{
	margin:0px;
}

.header {
	background: url("image/header.png");
	width: 680px;
	height: 99px;
}

.container h1 {
	padding-top: 20px;
	padding-left: 30px;
	margin:0px;
}

.bar {
	background: url("image/bar.png");
	width: 680px;
	height: 57px;
}

.bar .container div{
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
	display: inline-block;
	width: 90px;
	padding: 18px;
	text-align: center;
}

.bar a:link{
	text-decoration: none;
	color: black;
}

.bar a:visited{
	color: black;
}

.content_page {
	background-color: #869c80;
	font-family: Arial;
	width: 680px;
	height: 497px;
}

.content_page h2{
	/*fix the gap*/
	margin: 0px;
	padding-top: 15px;
	padding-left: 20px;
	color: #2c4969;
}

.content_page p{
	padding-left:20px;
	font-size: 12px;
}

